<div
        class="d-flex position-relative text-dark flex-column gap-1 align-items-center"
        style="width: max-content"
>
   {{ badge }}
   {{icon}}
    <span class="od0">{{ title }}</span>
</div>
