# Config and Htaccess Files
/src/.htaccess
/src/config.php
/src/admin/config.php

# Image Cache Files
/src/image/cache/*
!/src/image/cache/index.html

# Backup Files
/src/system/storage/backup/*
!/src/system/storage/backup/index.html

# System Cache Files
/src/system/storage/cache/*
!/src/system/storage/cache/index.html

# Download Files
/src/system/storage/download/*
!/src/system/storage/download/index.html

# Log Files
/src/system/storage/logs/*
!/src/system/storage/logs/index.html

# Marketplace Files
# /src/system/storage/marketplace/*
# !/src/system/storage/marketplace/index.html

# Session Files
/src/system/storage/session/*
!/src/system/storage/session/index.html

# Upload Files
/src/system/storage/upload/*
!/src/system/storage/upload/index.html

# CSS Files
#/src/catalog/view/stylesheet/stylesheet.css

# IDE Project files
/src/.idea/*
/.idea/*
/.DS_Store
/.cache
/.php-cs-fixer.cache
.env
/src/install
/src/install/*
